target
.idea
*.project
*.settings
*.classpath
*.iml
/jquery.tablesorter.min.js
/jquery-1.9.1.min.js
/jquery-ui.min.js
caches.html
comparison.html
countries.html
dates.html
owners.html
starsPerDay.html
*___jb_tmp___
